# Debian packaging artifacts
debian/.debhelper/
debian/*.debhelper
debian/isaac-ros-cli/
debian/*.substvars
debian/*.debhelper.log
debian/*-stamp
debian/files

# Python packaging artifacts
*.egg-info/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
build/
dist/
*.whl
*.egg
.eggs/
.pytest_cache/
.mypy_cache/
.tox/
*.cover
.coverage
htmlcov/
